@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

:root {
  /* CSS HEX */
  --black: #000000;
  --oxford-blue: #14213d;
  --orange-web: #fca311;
  --orange-dark: #d4890e;
  --blue-web: #035cee;

  --platinum: #e5e5e5;
  --white: #ffffff;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-image: linear-gradient(
    120deg,
    var(--white) 0%,
    var(--platinum) 100%
  );
  color: var(--oxford-blue);
}

/* Container elements  */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hidden {
  display: none;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
}

.btn {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: #f3f7fe;
  color: var(--orange-web);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--orange-web);
  box-shadow: 0 0 0 5px var(--orange-dark);
  color: var(--white);
  cursor: pointer;
}

.btn-sm {
  font-weight: bold;
  padding: 0.3rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

/* Form styles  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 450px;
  font-size: 1.5rem;
  background-color: var(--white);
  border-radius: 30px;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.close-btn {
  position: absolute;
  top: 7.5px;
  right: -15px;
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  line-height: 1.1;
}
.form-control input {
  outline: none;
  background-color: var(--platinum);
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 0.3rem 1rem;
}

input:active,
input:focus {
  border: 3px solid var(--orange-web);
}

input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
}

/* Books container and book element */

.books-container {
  background-color: var(--oxford-blue);
  width: 95%;
  min-height: 600px;
  border-radius: 30px;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.book-card {
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--platinum);
  color: var(--oxford-blue);
  padding: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.book-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.book-author {
  font-size: 1.25rem;
}
.book-year {
  color: var(--black);
}
.book-pages {
  opacity: 0.7;
}
.book-status {
  font-size: 1.25rem;
  padding: 0.3rem 0.7rem;
  color: #fff;
  background-color: var(--orange-web);
  border-radius: 5px;
  cursor: pointer;
}
.book-status.unread {
  background-color: var(--blue-web);
}
.book-remove-btn {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  background-color: red;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
